
<h2>Vaccine list</h2>
<ul>
        <li *ngFor="let vaccine of vaccines" >
        <a routerLink ="/detail/{{vaccine?.manufacturersName}}">
        <span class="badge"> {{vaccine?.manufacturersName}}</span>   
        </a>  
        <button class="deleteButton" (click)="deleteVaccine(vaccine)" > X </button>
    </li>
</ul>


<div class="add">
    <h3> Add new vaccine </h3>
    <div class="formItem">
        <label> Research Name: 
            <input #researchName />
        </label>
    </div>
    <div class="formItem">
        <label> Manufacturers Name: 
            <input #manufacturersName />
        </label>
    </div>
    <div class="formItem">
        <label> VaccineT ype: 
            <select #vaccineType>
                <option value="RNA">RNA</option>
                <option value="Viral Vecto">Viral Vector</option>
              </select>
            
        </label>
    </div>
    <div class="formItem">
        <label> Required Dosage: 
            <input type="number" #requiredDosageS />
        </label>
    </div>
    <div class="formItem">
        <label> Available Dosage Count: 
            <input  type="number" #availableDosageCountS />
        </label>
    </div>

    <button  class="addButton" (click)="addVaccine(researchName.value, manufacturersName.value, vaccineType.value, requiredDosageS.value, availableDosageCountS.value);
    researchName.value=''; manufacturersName.value=''; vaccineType.value=''; requiredDosageS.value=''; availableDosageCountS.value=''">
    Add vaccine
</button>
</div>










