h2, h3, label {
    font-family: Arial;
}
li{
    margin-bottom: 15px;
    padding: 10px 0px;
    width:300px;
    background-color: #325D97;
    height: 20px;
}
li:hover{
    background-color: #1B3A64;
    border: 2px solid #1B3A64;
}
.deleteButton{
    cursor: pointer;
    
    color: white;
    background-color: gray;
    float: right;
    margin-right: 10px;
}

ul{
    list-style-type: none;
    
}
a{
    color: white;
    font-family: Arial;
    text-decoration: none;
    display: inline-block;
    margin-left: 15px;
}
.addButton{
    border-radius: 25px;
    border: 2px solid #325D97;
    padding: 5px 10px;
    color: white;
    background-color: #325D97;
    text-decoration: none;
    cursor: pointer;
    margin-top: 10px;
    margin-left: 35px;
}
.addButton:hover{
    background-color: #1B3A64;
      border: 2px solid #1B3A64;
}
.add{
    margin-top: 50px;
}
.formItem{
    margin-bottom: 5px;
    margin-left: 35px;
}
