body {
    font-family: Arial;
  }
  a{
    border-radius: 25px;
    border: 2px solid #325D97;
    padding: 15px 20px;
    color: white;
    background-color: #325D97;
    text-decoration: none;
    cursor: pointer;
  }
  a:hover{
      background-color: #1B3A64;
      border: 2px solid #1B3A64;
  }
  nav{
      margin-top: 35px;
      margin-bottom: 70px;
  }
  h1{
     font-size: 45px;
  }
